<div class="singleItem">
  <h3>Supprimer la réservation</h3>
  <div class="detail">
    <p> Départ le {{ currentReservationVs.dateHeureDepart | extractDate }} à {{ currentReservationVs.dateHeureDepart | extractTime }}</p>
    <p> Retour prévu le {{ currentReservationVs.dateHeureRetour | extractDate }} à {{ currentReservationVs.dateHeureRetour | extractTime }}</p>
    <p> Véhicule utilisé : {{currentReservationVs.dateHeureRetour}} </p>
    <img src="https://cdn.motor1.com/images/mgl/JO3m6Q/s1/peugeot-208.webp" class="img">
  </div>
  <div class="action-btn">
    <button type="button"
            (click)="modifBtn && delete(currentReservationVs)"
            class="btn"
            [class.btn-outline-danger]="modifBtn"
            [class.btn-secondary]="!modifBtn"
    >Supprimer</button>
    <button type="button"
            class="btn"
            [class.btn-outline-primary]="modifBtn"
            [class.btn-secondary]="!modifBtn"
            (click)="cancel(reservationVs)"
    >Annuler</button>
  </div>
</div>
