<div>
  <p>reservation-vs-item works!</p>
  <p> Date de départ : {{reservationVs.dateHeureDepart}}</p>
  <p> Date de retour : {{reservationVs.dateHeureRetour}} </p>
  <p> Distance : {{reservationVs.distanceKm}} km</p>
</div>
<div>
  <button type="button" class="btn btn-secondary" (click)="featureResaVs(reservationVs)">Détails</button>
  <button type="button"
          (click)="modifBtn && startUpdateResVs(reservationVs)"
          class="btn"
          [class.btn-warning]="modifBtn"
          [class.btn-secondary]="!modifBtn"
  >Modifier</button>
  <button type="button"
          class="btn"
          [class.btn-danger]="modifBtn"
          [class.btn-secondary]="!modifBtn"
          (click)="modifBtn && delete(reservationVs)"
  >Supprimer</button>
</div>
