<form class="form">

  <p>Adresse de départ :</p>

  <div class = "adresseDepart">
    <div>
        <label for="numeroD"> Numéro : </label>
        <input
          type="number"
          name="numero"
          id="numeroD"
          [(ngModel)]="adresseDepart.numero"
          placeholder="{{adresseDepart.numero}}"
        />
    </div>

    <div>
      <label for="voieD"> Voie : </label>
      <input type="text" name="voie" id="voieD" [(ngModel)]="adresseDepart.voie" placeholder="{{adresseDepart.voie}}"/>
    </div>

    <div>
        <label for="codePostalD"> Code Postal : </label>
        <input
          type="number"
          name="codePostal"
          id="codePostalD"
          [(ngModel)]="adresseDepart.codePostal"
          placeholder="{{adresseDepart.codePostal}}"
        />
    </div>

    <div>
        <label for="communeD"> Commune : </label>
        <input
          type="text"
          name="commune"
          id="communeD"
          [(ngModel)]="adresseDepart.commune"
          placeholder="{{adresseDepart.commune}}"
        />
    </div>

  </div>


  <p>Adresse d'arrivée :</p>
  <div class="adresseArrivee">
    <div>
      <label for="numeroA"> Numéro : </label>
      <input
        type="number"
        name="numero"
        id="numeroA"
        [(ngModel)]="adresseArrivee.numero"
      />
    </div>


    <div>
      <label for="voieA"> Voie : </label>
      <input type="text" name="voie" id="voieA" [(ngModel)]="adresseArrivee.voie" />
    </div>


    <div>
      <label for="codePostalA"> Code Postal : </label>
      <input
        type="number"
        name="codePostal"
        id="codePostalA"
        [(ngModel)]="adresseArrivee.codePostal"
      />
    </div>

    <div>
      <label for="communeA"> Commune : </label>
      <input
        type="text"
        name="commune"
        id="communeA"
        [(ngModel)]="adresseArrivee.commune"
      />
    </div>

  </div>

  <p>Trajet :</p>
  <div class="trajet">
    <div class="trajetMargin">
      <label for="dureeTrajet">Durée trajet</label>
      <input type="number" name="dureeTrajet" id="dureeTrajet" [(ngModel)]="covoitOrg.dureeTrajet" placeholder="Durée en heures">
    </div>

    <div class="trajetMargin">
      <label for="distanceKm">Distance</label>
      <input type="number" name="distanceKm" id="distanceKm" [(ngModel)]="covoitOrg.distanceKm" placeholder="Distance en km">
    </div>

    <div class="trajetMargin">
      <label for="dateDepart">Date</label>
      <input type="datetime-local" name="dateDepart" id="dateDepart" [(ngModel)]="covoitOrg.dateDepart">
    </div>
  </div>

  <select name="Vehicule perso" value="Vehicule perso" [(ngModel)]="selectedVehiculePerso">
    <option *ngFor="let vehicule of listVehiculePerso">{{vehicule.modele}}</option>
  </select>


  <button class="btn btn-success" (click)="onSubmit()">{{ currentCovoitOrg.id ? "Sauvegarder" : "Créer"}}</button>
  <button class="btn btn-outline-danger" (click)="cancel()">Annuler</button>
</form>
