<p>reservation-vs works!</p>


<div class="reservationVs">
  <h3>Réserver un véhicule de service</h3>
  <form class="form">
    <div>
      <label for="userId"></label>
      <input type="hidden" name ="" id="userId" value="{{user.id}}">
    </div>
    <div>
      <app-vehicule-service-item></app-vehicule-service-item>
      <label for="vehiculeServiceId"></label>
      <input type="hidden" name ="vehiculeServiceId" id="vehiculeServiceId">
    </div>
    <div>
      <label for="distanceKm"></label>
      <input type="number" name ="distanceKm" id="distanceKm">
    </div>
    <div>
      <label for=""></label>
      <input type="" name ="" id="">
    </div>
    <div>
      <label for=""></label>
      <input type="" name ="" id="">
    </div>
    <button>Réserver</button>
    <button>Annuler</button>
  </form>


</div>
