<h3>Réserver un véhicule de service</h3>
<form class="form" (submit)="onSubmit($event)">
  <div>
    <label for="userId"></label>
    <input type="hidden" name="userId" id="userId" value="{{currentUser.id}}" [(ngModel)]="reservationVs.userId">
  </div>
  <div>
    <app-vehicule-service-list></app-vehicule-service-list>
    <label for="vehiculeServiceId">Sélection du véhicule de service</label>
    <input type="hidden" name="vehiculeServiceId" id="vehiculeServiceId" value="1" [(ngModel)]="reservationVs.vehiculeServiceId">
  </div>
  <!--
  <div style="display: flex;align-items: center">
    <label for="distanceKm">Distance : </label>
    <input type="range" min="10" max="5000" step="10" name="distanceKm" id="distanceKm" [(ngModel)]="reservationVs.distanceKm">
    {{reservationVs.distanceKm ? reservationVs.distanceKm : "0"}} km
  </div>
  -->
  <div>
    <label for="dateHeureDepart">Date et heure de départ : </label>
    <input type="datetime-local" name="dateHeureDepart" id="dateHeureDepart" [(ngModel)]="reservationVs.dateHeureDepart" class="inputDate">
    <p *ngIf="currentReservationVs.id"> {{reservationVs.dateHeureDepart}}</p>
  </div>
  <div>
    <label for="dateHeureRetour">Date et heure de retour : </label>
    <input type="datetime-local" name="dateHeureRetour" id="dateHeureRetour" [(ngModel)]="reservationVs.dateHeureRetour" class="inputDate">
    <p *ngIf="currentReservationVs.id"> {{reservationVs.dateHeureRetour}}</p>
  </div>
  <button type="submit" class="btn btn-success" >{{ currentReservationVs.id ? "Sauvegarder" : "Réserver"}}</button>
  <button type="reset" class="btn btn-danger">Annuler</button>
</form>
