<div class="container">
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row mt-2 mb-3 ">
            <p class="d-flex align-self-end">filtrer par</p>

            <input (keyup)="onVilleArrivee($event)" type="text" placeholder="Ville d'arrivée"
                [ngClass]="{'activeFilterSearchInProgress': filtrage.filter_VilleArrivee_value !== '' && this.isFoundedVilleArrivee === false,
                             'activeFilterFounded': filtrage.filter_VilleArrivee_value !== '' && this.isFoundedVilleArrivee === true}">

            <input [disabled]="disabledFilterVilleDepart" (keyup)="onVilleDepart($event)" type="text"
                placeholder="Ville de départ"
                [ngClass]="{'activeFilterSearchInProgress': filtrage.filter_VilleDepart_Value !== '' && this.isFoundedVilleDepart === false,
                'activeFilterFounded': filtrage.filter_VilleDepart_Value !== '' && this.isFoundedVilleDepart === true}">



            <input [disabled]="disabledFilterDate" type="date" placeholder="Date départ">

        </div>
        <div class="listeCovoiturages" style="background-color: whitesmoke">
            <!-- <app-covoiturage *ngFor="let cov of covoiturages$ | async" [covoituragereserve]="cov"></app-covoiturage> -->
            <app-covoiturage *ngFor="let cov of listeAafficher" [covoituragereserve]="cov"></app-covoiturage>
        </div>


    </div>
</div>