
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<div class="list">
  <div class="buttonOfList">
    <button type="button"
            class="btn"
            [class.btn-primary]="upcompingCovoiturages"
            [class.btn-outline-secondary]="!upcompingCovoiturages"
            (click)="getIncomingCovoiturages()">Covoiturages à venir</button>
    <button type="button"
            class="btn"
            [class.btn-outline-secondary]="upcompingCovoiturages"
            [class.btn-primary]="!upcompingCovoiturages"
            (click)="getPastCovoiturages()">Mon historique</button>
    <button type="button"
            class="btn btn-outline-primary"
            (click)="newCovoitOrg()">Nouveau covoiturage</button>
  </div>

  <div class="tableList">
    <table>
      <tr>
        <th>Date de départ</th>
        <th>Heure de départ</th>
        <th>Adresse de départ</th>
        <th>Adresse d'arrivée</th>
        <th>Nombre de voyageur</th>
      </tr>
      <tr *ngFor="let c of covoitOrgs">
        <td>{{ c.dateDepart?.toString() | extractDate }}</td>
        <td>{{ c.dateDepart?.toString() | extractTime }}</td>
        <td>{{ c.adresseDepart?.numero}} {{ c.adresseDepart?.voie}}, <br>
          {{ c.adresseDepart?.codePostal}} {{ c.adresseDepart?.commune}}</td>
        <td>{{ c.adresseArrivee?.numero}} {{ c.adresseArrivee?.voie}}, <br>
          {{ c.adresseArrivee?.codePostal}} {{ c.adresseArrivee?.commune}}</td>
        <!-- Le nouveau dto qui renvoit une liste d'id d'utilisateurs (auparavant une liste d'utilisateurs)
        créer un conflit de nommage dans le code de lan. J'ai modifié en conséquence  Mochizuki 11092023 01h22-->
        <!-- <td>{{c.passagers?.length}}</td> -->
        <td>{{c.passagersId?.length}}</td>

        <td>
          <button type="button"
                  class="btn btn-outline-secondary"
                  (click)="updateCovoitOrg(c)">Modifier</button>
          <button type="button"
                  class="btn btn-outline-danger"
                  (click)="deleteCovoitOrg(c)">Supprimer</button>
        </td>
      </tr>
    </table>

  </div>
</div>


<!--

<hr>
<div  class="list">
  <app-reservation-vs-item *ngFor="let res of allReservationsVs" class="singleItem" [resaVs]="res"></app-reservation-vs-item>
</div>

-->

