<div class=covoiturages-organises-card>
    <h2>{{title}}</h2>
    <p>numéro du covoiturage : {{id}}</p>
    <p><button (click)="onShowDetails()" >Details</button></p>
    <p>Date de départ : {{dateDepart}}</p>
    <p>Distance : {{distance_km}}</p>
    <p>Durée trajet : {{duree_trajet}}</p>
    <p>Nombre de places restantes : {{nombre_places_restantes}}</p>
    <p>Adresse d'arrivée : {{adresse_arrivee_id}}</p>
    <p>Adresse de départ : {{adresse_depart_id}}</p>
    <p>Organisateur : {{organisateur_id}}</p>
    <p>Véhicule : {{vehicule_perso_id}}</p>
</div>