html {
  padding: 10px;
}


/*
.list{
  max-height: 200px;
  overflow: scroll;
}
*/

.form {
  border: black solid 1px;
  border-radius: 7px;
  width: 700px;
  padding: 5px;
  margin: 5px;
}

.singleItem{
  cursor: pointer;
  border: black solid 1px;
  border-radius: 7px;
  width: 350px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center
}

.detail {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center
}

.list {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin: 10px;
  padding: 5px;

}

.buttonOfList {
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  justify-content: flex-start
}

.tableList {
  grid-column: 2 / 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  width: auto;
}

tr:hover {
  background-color: #f5f5f5;
}

th, td {
  border-bottom: 1px solid #dddddd;
  padding: 5px 5px;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  margin: 5px;
}

.inputDate, input {
  border: black solid 1px;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
}
* {

}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}
