html {
  padding: 10px;
}
.list {
  display: flex;
  flex-flow: row wrap;
}

button {
  margin: 5px;
}

.inputDate, input {
  border: black solid 1px;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
}

* {

}




/*
.list{
  max-height: 200px;
  overflow: scroll;
}
*/

.form {
  border: black solid 1px;
  border-radius: 7px;
  width: 700px;
  padding: 5px;
  margin: 5px;
}

.singleItem{
  cursor: pointer;
  border: black solid 1px;
  border-radius: 7px;
  width: 350px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center
}

.itemInList{
  cursor: pointer;
  border: black solid 1px;
  border-radius: 7px;
  
  padding: 5px;
  margin: 5px;
  
  justify-content: center;
  background-color: gray;
}



.detail {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center
}


