<div *ngFor="let device of ObservableListePassagers | async">{{device.nom}}</div>
<div *ngIf="mochizukiCovoiturage as covoit">
    <p>{{covoit.dureeTrajet}}</p>
    <p>{{covoit.adresseArrivee.codePostal}}</p>
    <p>{{covoit.adresseArrivee.commune}}</p>
    <p>{{covoit.adresseArrivee.numero}}</p>
    <p>{{covoit.adresseArrivee.voie}}</p>
    <p>{{covoit.dateDepart}}</p>
</div>
<div *ngIf="mochizukiVehiculePerso as vehicule">
    <p>{{vehicule.id}}</p>
    <p>{{vehicule.immatriculation}}</p>
    <p>{{vehicule.marque}}</p>
    <p>{{vehicule.modele}}</p>
    <p>{{vehicule.nombreDePlaceDisponibles}}</p>
    <p>{{vehicule.userId}}</p>
</div>