<div class=covoiturages-organises-card [ngClass]="{showDetails : showDetailsInProgress === true}">
    <h2>{{title | uppercase}}</h2>
    <a routerLink = '/covoiturages'> Back</a>
    <!-- <p>numéro du covoiturage : {{covoiturage?.id}}</p> -->
    <p>Distance : {{covoiturage?.distanceKm}}</p>
    <p><button (click)="onShowDetails()" >Details</button></p>
    <p>Date de départ: {{ covoiturage?.dateDepart | date: 'le d MMMM yyyy à HH:mm, ' }}</p>
    <p>Durée trajet : {{covoiturage?.dureeTrajet}}</p>
    <p>Nombre de places restantes : {{covoiturage?.nombrePlacesRestantes}}</p>
    <p>Adresse d'arrivée : {{covoiturage?.adresseArrivee}}</p>
    <p>Adresse de départ : {{covoiturage?.adresseDepart}}</p>
    <p>Organisateur : {{covoiturage?.organisateur}}</p>
    <p>Véhicule : {{covoiturage?.vehiculePerso}}</p>
</div>