<div class="list">
  <div class="buttonOfList">
    <button type="button"
            class="btn"
            [class.btn-primary]="upcompingReservations"
            [class.btn-outline-secondary]="!upcompingReservations"
            (click)="getIncomingReservations()">Réservation en cours</button>
    <button type="button"
            class="btn"
            [class.btn-outline-secondary]="upcompingReservations"
            [class.btn-primary]="!upcompingReservations"
            (click)="getPastReservations()">Mon historique</button>
    <button type="button"
            class="btn btn-outline-primary"
            (click)="newReservation()">Nouvelle réservation</button>
  </div>



  <div class="tableList">
    <table>
        <tr>
          <th>Date de début</th>
          <th>Heure de début</th>
          <th>Date de fin</th>
          <th>Heure de fin</th>
          <th>Immatriculation</th>
          <th>Marque</th>
          <th>Modèle</th>
          <th  *ngIf="upcompingReservations" >Actions</th>
        </tr>
        <tr *ngFor="let res of mergedArray">
          <td>{{ res.dateHeureDepart | extractDate }}</td>
          <td>{{ res.dateHeureDepart | extractTime }}</td>
          <td>{{ res.dateHeureRetour | extractDate }}</td>
          <td>{{ res.dateHeureRetour | extractTime }}</td>
          <td>{{ res.immatriculation }}</td>
          <td>{{ res.marque }}</td>
          <td>{{ res.modele }}</td>
          <td *ngIf="upcompingReservations" >
            <button type="button"
                    class="btn"
                    [class.btn-outline-secondary]="modifBtn"
                    [class.btn-secondary]="!modifBtn"
                    (click)="startUpdateResVs(res)">Modifier</button>
            <button type="button"
                    class="btn"
                    [class.btn-outline-danger]="modifBtn"
                    [class.btn-secondary]="!modifBtn"
                    (click)="deleteReservationVs(res)">Supprimer</button>
          </td>
        </tr>
    </table>
  </div>
</div>

<hr>
<!--
<hr>

<div class="row mt-2">
  <div class="overflowDiv col-8">
    <table class="border border-secondary table-hover table w-100 mt-1">

      <tbody>
      <tr (click)="select(r)" *ngFor="let r of allReservationsVs;index as i">
        <td>
          <h5>Marque-Modèle: {{r.vehiculeServiceId}} Immatriculation: {{r.userId}}</h5>
          <p>Catégorie: {{r.dateHeureDepart}}</p>
          <p>Motor: {{r.dateHeureRetour}}</p>
        </td>

      </tr>

      </tbody>
    </table>
  </div>
  <div *ngIf="currentReservationVs.id" class="col-4 d-flex flex-column  align-items-center" >
    <div class="card mt-2 w-100 ">
      <img src="{{}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Photo</h5>
        <h5>Marque-Modèle: {{currentReservationVs.vehiculeServiceId}} Immatriculation: {{currentReservationVs.userId}}</h5>
        <p>Catégorie: {{currentReservationVs.dateHeureDepart}}</p>
        <p>Motor: {{currentReservationVs.dateHeureRetour}}</p>

      </div>
    </div>
    <button class="btn btn-light w-75 ">Modifier</button>
    <button class="btn btn-danger w-75">Supprimer</button>
  </div>


</div>

<hr>
<hr>
-->

<!--

<hr>
<div  class="list">
  <app-reservation-vs-item *ngFor="let res of allReservationsVs" class="singleItem" [resaVs]="res"></app-reservation-vs-item>
</div>

-->

